<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <img src="{{ '/images/logos/Logo-JPG.jpg' | relative_url }}" width="120px" alt="Logo" />
    </div>

    <div class="footer-columns">
      <div class="footer-col">
        <h4>Firm</h4>
        <a href="{{ '/about' | relative_url }}"><p>About</p></a>
        <a href="{{ '/about#insights' | relative_url }}"><p>Insights</p></a>
        <a href="{{ '/expertise' | relative_url }}"><p>Expertise</p></a>
        <a href="{{ '/projects' | relative_url }}"><p>Projects</p></a>
      </div>

      <div class="footer-col">
        <h4>Connect</h4>
        <a href="{{ '/contact' | relative_url }}"><p>Contact Us</p></a>
        <p>Facebook</p>
        <p>LinkedIn</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; MAH Architects Inc. {{ site.time | date: '%Y' }}. As an employer conscious about equality and diversity, we welcome all applicants who have sufficient qualifications regardless of age, race, gender, nationality, ethnicity, or status or any other personal traits under legal protection.</p>
  </div>
</footer>
