<header id="navbar" class="navbar">
  <div class="container">
    <div class="logo-container">
      <a href="{{ '/' | relative_url }}">
        <div class="logo">
          <span class="mah-word">MAH</span>
          <div class="name-block">
            <span class="arch-label">Architects</span>
            <span class="inc-label">Inc.</span>
          </div>
        </div>
      </a>
    </div>

    <nav class="nav-links">
      <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/expertise' | relative_url }}">Expertise</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
      <i class="fas fa-search"></i>
    </nav>

    <div class="burger" id="burger">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</header>

<!-- Mobile Menu -->
<div class="mobile-menu" id="mobileMenu">
   <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/expertise' | relative_url }}">Expertise</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
</div>
