.gallery {
  display: flex;
  justify-content: center; /* Center the gallery images */
  align-items: center; /* Vertically center the images */
  position: relative;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  height: 50vh; /* Adjust the height as needed */
  padding: 20px;
  box-sizing: border-box;
}

.gallery img {
  position: absolute;
  width: 30%;
  left: 10%;
  top: 10%;
  border-radius: 12px;
  transition: opacity 1s ease, z-index 1s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: rotateZ(var(--rotation));
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.tags span {
  background: #222;
  color: #fff;
  padding: 8px 16px;
  border-radius: 999px;
  font-size: 0.9em;
  white-space: nowrap;
  transition: background 0.3s;
}

.tags span:hover {
  background: #444;
}

@media (max-width: 768px) {
  .tags {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0;
  }
}
