@media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .burger {
      display: block;
    }
    .mobile-menu.active {
      display: flex;
    }
    .alt-row,
    .alt-row.reverse {
      flex-direction: column;
    }
  }
  
  @media (min-width: 2000px) {
    html {
      font-size: 20px; /* or 20px depending on how much bigger you want things */
    }
  }