<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | MAH Architects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/global.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/header.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/about.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/team.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/why-us.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/portfolio.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/contact.css' | relative_url }}">
  <script src="/assets/js/animations.js"></script>
</head>
<body>
  {% include header.html %}
  <main class="content">{{ content }}</main>
  {% include footer.html %}
</body>
</html>