---
layout: default
---

 <link rel="stylesheet" href="/assets/css/gallery.css">
 <link rel="stylesheet" href="/assets/css/about.css">

<!-- Hero Section -->
<section class="hero-section">
  <img src="{{ page.hero_image }}" class="hero-image" alt="{{ page.hero_alt }}">
  <div class="text-overlay">
    <h1 class="main-title">{{ page.hero_title }}</h1>
    <p class="subtitle">{{ page.hero_subtitle }}</p>
  </div>
</section>

<!-- Why Choose Section -->
<section class="centered-values">
  <h2>{{ page.why_choose_title }}</h2>
</section>
<section class="alternating-section">
 <p>{{ page.why_choose_text }}</p>
</section>

<!-- Gallery section -->
<div class="gallery-container">
    <div class="gallery" id="gallery"></div>
    <div class="tags">
      <span>Custom Residence</span>
      <span>Duplex, Triplex and Fourplex</span>
      <span>Laneway/Garden suites</span>
      <span>Low-Mid Rise Condominium</span>
      <span>Industrial Buildings</span>
      <span>Commercial Buildings</span>
      <span>Restaurant and Cafes</span>
      <span>Institutional/Healthcare/Hospitality</span>
    </div>
  </div>

  <!-- About section -->
  <div class="about-section">
    <h2>About</h2>
    <p>
      <strong>MAH Architects Inc.</strong>, previously known as A&A, was established in 2018 in Ontario, Canada. 
      The firm has completed numerous projects and offers architectural services for various building types, including residential, commercial, retail, industrial, institutional, restaurant and café, healthcare, and hospitality facilities such as hotels and motels.
    </p>
  </div>
  
  <div class="why-architects">
    <h2 onclick="toggleWhy()" class="collapsible-title">Why Your Project Requires Architects?</h2>
    <div id="whyContent" class="collapsible-content">
      <p>
        The Architect, who functions as advisor, coordinator, and technical manager, in addition to being a creative artist, can design and administer a contract that ensures a project is completed on time, within budget, and meets the required standards of quality.
      </p>
      <p>
        According to Ontario jurisdiction by law, certain types of projects must involve an architect to ensure public health, safety, welfare, sustainable growth, and environmental protection. When determining if your project requires architectural services, hiring a qualified architect can be beneficial. Architects have expertise in built environments and are knowledgeable about complex regulatory requirements such as building codes, zoning bylaws, the construction process, and environmental considerations.
      </p>
    </div>
  </div>
  
  <!-- Services section -->
  <div class="services-section">
    <h2>Services We Offer</h2>
    <div class="services-tags">
      <span>Feasibility Studies / Facility Assessments</span>
      <span>Architectural and Interior Design</span>
      <span>Zoning Amendment / Site Plan Approvals</span>
      <span>Committee of Adjustments / Building Permit</span>
      <span>Structural and MEP Engineering Supports</span>
      <span>Bidding and Contract Negotiations</span>
      <span>Project Contract Admin & Construction Management</span>
    </div>
  </div>
  

<!-- Centered Value Statement -->
<section class="centered-values">
  <h2>{{ page.value_statement }}</h2>
  <div class="value-links">
    <!-- <a href="{{ page.value_links.learn_more }}" class="primary-link">Learn more about our values</a>
    <a href="{{ page.value_links.join_us }}" class="secondary-link">Become part of us</a> -->
  </div>
</section>

